body {
    background: linear-gradient(#f2e9f0 10%, #e24d85 150%, #9f8292 70%);
  }
  
  img {
    width:200px;
  }
  
  div{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  
  iframe {
    width:100%;
  }
  
  h1{
    color: #e24d85;
    font-weight: 800;
  }
  
  h2{
    color: #721d40;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: dashed #141113 ;
  }
  a
  {
    color: #f2e9f0 ;
    background-color: #e24d85;
    padding: 10px;
    border-radius: 15px;
    border: dashed #141113 ;
  }
